*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
:root{
    --color1:#b6ecfa;
    --color2:#f07469;
    --color3:#f1f4f8;
    --color4:#306da7;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color3);
  color: var(--color4);
}

header{
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
 
   
}
#score{
   float: left;
   padding: 10px;
}
#time{
   float: right;
   padding: 10px;
}
.container{
    clear: both;
    margin:0 auto;
    text-align: center;
    padding: 40px;
    line-height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large ;
}
#startBtn{
    background-color: var(--color1);
    border-color: var(--color2);
    color:  var(--color4);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger ;
    border-radius: 8px;
    margin: 20px;
}
#startBtn:hover{
    color:  var(--color2);
}
#question{
    
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px ;
}


.btn{
    background-color: var(--color2);
    border-color: var(--color2);
    color:  var(--color4);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16 ;
    border-radius: 8px;
    margin: 20px;
}
.btn:hover{
    color:  var(--color1);
}
#text{
    background-color: var(--color1);
    border-color: var(--color1);
    color:  var(--color4);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16 ;
    border-radius: 8px;
    margin: 20px;
}
.goback-btn{
    background-color: var(--color1);
    border-color: var(--color2);
    color:  var(--color4);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16 ;
    border-radius: 8px;
    margin: 20px;
}
.goback-btn:hover{
    color:  var(--color2);
}
.clear-btn{
    background-color: var(--color1);
    border-color: var(--color2);
    color:  var(--color4);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 16 ;
    border-radius: 8px;
    margin: 20px;
}
.clear-btn:hover{
    color:  var(--color2);
}
@media screen and (max-width: 375px){
    .container{
    font-size:16px ;
} 
}


